@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@model ContactModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings

@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>
<div id="container">
    <div class="container">
        <div class="row">
            <div id="content" class="col-ms-12">
                <div class="plugin-contact contact-index">
                    @using (Html.BeginForm("SendContact", "Home"))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="control">
                                @Html.LabelFor(model => model.Name)
                                <div class="field">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "text col-ms-12 col-md-6" })
                                </div>
                            </div>
                            <div class="control">
                                @Html.LabelFor(model => model.Email)
                                <div class="field">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "text col-ms-12 col-md-6" })
                                </div>
                            </div>
                            <div class="control">
                                @Html.LabelFor(model => model.Subject)
                                <div class="field">
                                    @Html.TextBoxFor(model => model.Subject)
                                </div>
                            </div>
                            <div class="control">
                                @Html.LabelFor(model => model.Message)
                                <div class="field">
                                    @Html.TextAreaFor(model => model.Message, new { @class = "textarea input-height-md", cols = "60", rows = "10" })
                                </div>
                            </div>
                            <div class="control">
                                <div class="field">
                                    @Html.Recaptcha(RecaptchaSettings.Value)
                                </div>
                            </div>
                            <div class="control actions">
                                <input class="button submit " type="submit" name="submit" value="Send" />
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>